$Jumbotron-color:#FF8000;
$body-color: rgba(253, 196, 122, 0.795);
$footer-color: #FAAC58;
$yellow: #FFFF00;
$red: #DF0101;
$green: #01DF01;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron{
    background-color: $Jumbotron-color; /*$yellow*/
    color: black; /*$green*/
    @include margenes(55px, 15px);
}

.color-body{
    background-color:$body-color;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: $footer-color; /*$red*/
    @include margenes(10px, 0px);
}


.container-1{
    color: rgb(0, 0, 0);
    background-color:rgba(255, 255, 255, 0.4);
    /*font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;*/
}

.card-hotel{
    flex: 1 200px;
    @include margenes(20px, 20px);
}

.btn-reserva{
    width: 100%;
}

.footer-margin-icon{
    padding-right: 10px;
}

.social-icon {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    padding: 3px 2px 0px 3px;
}

.card-image{
    width: 250px;
    height: 250px;
    margin: 5px 20px 5px 20px;
    padding: 5px 20px 5px 25px;
}

.img-container{
    margin: 5px 15px 5px 110px;
    padding: 20px 60px 30px 60px;
    width: 80%;
    height: 60%;
    position: static;
}

/*.img-head{
    width: 100%;
    height: 70%;
    margin: 0px 0px 20px 0px;
}*/


.tab-content{
    margin-top: 6px;
}

.tab-view a{
    background-color: black;
    color: white;
    /*margin-left: 2px;*/
}

.accordion-p{
    font-style: italic;
    font-size: 23px;
}